@use "./base.scss";

.search>#search-container,
.graph>#global-graph-outer {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.search>#search-container,
.graph>#global-graph-outer>#global-graph-container{
  box-shadow: 4px 8px 16px var(--lightgray);
}

#explorer-content ul li>a{
  font-size: .8rem;
}

.internal.alias {
  box-shadow: 4px 4px var(--gray);
  &:hover{
    box-shadow: 4px 4px var(--lightgray);
  }
}

// put your custom CSS here!
